{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<h1>About Me</h1>
<p>Hi, I'm Sourabh Tiwari. I have a Bachelor of Computer Applications (BCA) degree and I'm passionate about Python development. My interests lie in cloud computing and data engineering. I am always eager to learn new technologies and improve my skills.</p>
<p>Feel free to explore my portfolio to see my projects, skills, and professional experiences. You can also connect with me on various social platforms.</p>

<div class="about-social-links">
    <a href="https://github.com/Sourabh7iwari" target="_blank"><i class="fab fa-github"></i> GitHub</a>
    <a href="https://www.linkedin.com/in/sourabhtiwari/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
    <a href="https://x.com/Sourabh7iwari" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
    <a href="https://www.cloudskillsboost.google/public_profiles/064c9b0f-8c85-49be-8d60-ce21bd62d002" target="_blank"><i class="fab fa-google"></i> Google Cloud</a>
</div>
{% endblock %}
