<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('projects') }}">Projects</a></li>
                    <li><a href="{{ url_for('skills') }}">Skills</a></li>
                    <li><a href="{{ url_for('experiences') }}">Experiences</a></li>
                    <li><a href="{{ url_for('timeline') }}">Timeline</a></li>
                </ul>
                <div class="header-social-links">
                    <a href="https://github.com/Sourabh7iwari" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/sourabhtiwari/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/Sourabh7iwari" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.cloudskillsboost.google/public_profiles/064c9b0f-8c85-49be-8d60-ce21bd62d002" target="_blank"><i class="fab fa-google"></i></a>
                </div>
            </nav>
        </div>
    </header>
    <div class="hero">
        <div class="hero-content">
            <h1>Sourabh Tiwari</h1>
            <h2>BCA Graduate | Python Developer | Cloud & Data Engineering Enthusiast</h2>
        </div>
    </div>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Sourabh Tiwari</p>
        </div>
    </footer>
</body>
</html>
